@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wz7xdw');
  src:  url('fonts/icomoon.eot?wz7xdw#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?wz7xdw') format('truetype'),
  url('fonts/icomoon.woff?wz7xdw') format('woff'),
  url('fonts/icomoon.svg?wz7xdw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zbwd:before {
  content: "\e946";
  /*color: #b89e6c;*/
}
.icon-ywcx:before {
  content: "\e947";
  /*color: #b89e6c;*/
}
.icon-cx:before {
  content: "\e940";
  /*color: #b89e6c;*/
}
.icon-gmrz:before {
  content: "\e941";
  /*color: #b89e6c;*/
}
.icon-jrcs:before {
  content: "\e942";
  /*color: #b89e6c;*/
}
.icon-khyy:before {
  content: "\e943";
  /*color: #b89e6c;*/
}
.icon-ywbl:before {
  content: "\e944";
  /*color: #b89e6c;*/
}
.icon-zntd:before {
  content: "\e945";
  /*color: #b89e6c;*/
}
.icon-openXin:before {
  content: "\e930";
  /*color: #b89e6c;*/
}
.icon-xin:before {
  content: "\e93f";
  /*color: #b89e6c;*/
}
.icon-user:before {
  content: "\e908";
  /*color: #d1cece;*/
}
.icon-cp:before {
  content: "\e909";
  /*color: #b89e6c;*/
}
.icon-csyj:before {
  content: "\e90b";
  /*color: #b89e6c;*/
}
.icon-ckll:before {
  content: "\e90c";
  /*color: #b89e6c;*/
}
.icon-hjbz:before {
  content: "\e90d";
  /*color: #b89e6c;*/
}
.icon-historyInfo:before {
  content: "\e90e";
  /*color: #b89e6c;*/
}
.icon-historyAlert:before {
  content: "\e90f";
  /*color: #b89e6c;*/
}
.icon-passWord:before {
  content: "\e910";
  /*color: #d1cece;*/
}
.icon-warnPeople:before {
  content: "\e911";
  /*color: #b89e6c;*/
}
.icon-sz:before {
  content: "\e912";
  /*color: #b89e6c;*/
}
.icon-wdjk:before {
  content: "\e913";
  /*color: #b89e6c;*/
}
.icon-zsk:before {
  content: "\e914";
  /*color: #b89e6c;*/
}
.icon-zf:before {
  content: "\e915";
  /*color: #b89e6c;*/
}
.icon-wyq:before {
  content: "\e916";
  /*color: #b59c6b;*/
}
.icon-cp2:before {
  content: "\e917";
  /*color: #b59c6b;*/
}
.icon-cpxq:before {
  content: "\e918";
  /*color: #ff991a;*/
}
.icon-cpzs:before {
  content: "\e919";
  /*color: #b59c6b;*/
}
.icon-ewm:before {
  content: "\e91a";
  /*color: #515151;*/
}
.icon-gdjt:before {
  /*content: "\e91b";*/
}
.icon-needHelp:before {
  content: "\e91c";
  /*color: #b59c6b;*/
}
.icon-jzll:before {
  content: "\e91d";
  /*color: #b89e6c;*/
}
.icon-calc:before {
  content: "\e91e";
  /*color: #b99e6d;*/
}
.icon-jqqd:before {
  content: "\e91f";
  /*color: #b89e6c;*/
}
.icon-lc:before {
  content: "\e920";
  /*color: #b89e6c;*/
}
.icon-lsxx2:before {
  content: "\e921";
  /*color: #b59c6b;*/
}
.icon-csyj2:before {
  content: "\e922";
  /*color: #b59c6b;*/
}
.icon-pdrs:before {
  content: "\e923";
  /*color: #b89e6c;*/
}
.icon-pdrsyj2:before {
  content: "\e924";
  /*color: #b59c6b;*/
}
.icon-qd2:before {
  content: "\e925";
  /*color: #b99e6d;*/
}
.icon-sz2:before {
  content: "\e926";
  /*color: #b59c6b;*/
}
.icon-home2:before {
  content: "\e927";
  /*color: #b89e6c;*/
}
.icon-whjs2:before {
  content: "\e928";
  /*color: #b89e6c;*/
}
.icon-wdjk2:before {
  content: "\e929";
  /*color: #b59c6b;*/
}
.icon-yhwdjk2:before {
  content: "\e92a";
  /*color: #b89e6c;*/
}
.icon-xxtx2:before {
  content: "\e92b";
  /*color: #b59c6b;*/
}
.icon-xgmm2:before {
  content: "\e92c";
  /*color: #b89e6c;*/
}
.icon-zhsz:before {
  content: "\e92d";
  /*color: #b89e6c;*/
}
.icon-zsk2:before {
  content: "\e92e";
  /*color: #b59c6b;*/
}
.icon-zz2:before {
  content: "\e92f";
  /*color: #b89e6c;*/
}
.icon-ck .path1:before {
  content: "\e931";
  color: rgb(181, 156, 107);
}
.icon-ck .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-khjbxx:before {
  content: "\e933";
  /*color: #b59c6b;*/
}
.icon-khlh1:before {
  content: "\e934";
  /*color: #b59c6b;*/
}
.icon-wjx:before {
  content: "\e935";
  /*color: #b59c6b;*/
}
.icon-ycl .path1:before {
  content: "\e936";
  /*color: rgb(181, 156, 107);*/
}
.icon-ycl .path2:before {
  content: "\e937";
  margin-left: -1em;
  /*color: rgb(255, 255, 255);*/
}
.icon-ycl .path3:before {
  content: "\e938";
  margin-left: -1em;
  /*color: rgb(255, 255, 255);*/
}
.icon-yxjl:before {
  content: "\e939";
  /*color: #b59c6b;*/
}
.icon-yywhcp:before {
  content: "\e93a";
  /*color: #b59c6b;*/
}
.icon-zf2 .path1:before {
  content: "\e93b";
  /*color: rgb(181, 156, 107);*/
}
.icon-zf2 .path2:before {
  content: "\e93c";
  margin-left: -1em;
  /*color: rgb(255, 255, 255);*/
}
.icon-zcxx:before {
  content: "\e93d";
  /*color: #b59c6b;*/
}
.icon-zzXXTX:before {
  content: "\e900";
  /*color: #b59c6b;*/
}
.icon-zzSY:before {
  content: "\e901";
  /*color: #b89e6c;*/
}
.icon-zzCP:before {
  content: "\e902";
  /*color: #b59c6b;*/
}
.icon-zzCPZH:before {
  content: "\e903";
  /*color: #b59c6b;*/
}
.icon-zzSZ:before {
  content: "\e905";
  /*color: #b59c6b;*/
}
.icon-zzZSK:before {
  content: "\e906";
  /*color: #b59c6b;*/
}
.icon-zz-hsfk:before {
  content: "\e93e";
  /*color: #e60012;*/
}
.icon-zzYXJL:before {
  content: "\e907";
  /*color: #b59c6b;*/
}
.icon-zzLSXX:before {
  content: "\e904";
  /*color: #b59c6b;*/
}
.icon-zzWDJK:before {
  content: "\e90a";
  /*color: #b59c6b;*/
}
